#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html,body {
  padding: 0;
  margin: 0;
  display: block;
  overflow-x: hidden;
}

/* home */
p {
  padding-bottom: 1rem;
  font-size: 1 rem;
  line-height: 1.5rem;
  color: white;
}

a {
  text-decoration: none;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #da790a;
  position: relative; 
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 1rem;
}

.pre-title::before{
  content: "";
  width: 20px;
  height: 1px;
  background: white;
  position: absolute;
  left: 0;
  top: 50%;
}

#home{
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding: 0 3rem;
  gap: 2rem;
}

.home-name {
  font-size: 2.3rem;
  font-weight: 700;
  margin-trim: 0.5rem 0 1rem;
  color: white;
}

.home-left{
  width: 60%;
}

.home-right img{
  width: 340px;
  border-radius: 1rem;

}

.home-right {
  display: flex;
  justify-content: center;
}

section{
  padding-bottom: 5rem;
}

/* Project section */
#project {
  background-color: black;
  padding: 4rem;
}

.project-text {
  padding: 1.5rem;
}

.section-title-project {
  text-align: center;
  margin: 1rem 0 4rem;
}


/* layout */
.grid-3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.project {
  padding:"1rem 0.5rem";
  text-align: center;
  background: #da790a;
  border-radius: 1rem;
  width: 600px;
  height: 550px;
}

.project-icon img{
  width: 400px;
  height: 300px;
}

.project h4 {
  color: white;
  margin: 0.5rem o;
  padding: 1rem 2rem;
}

.project p {
  color: white;
  padding: 1rem 1rem;
}

.project-icon {
  background-color: white;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  margin-top: 2rem;
}

/* about */
#about {
  background-color: black;
  padding: 3rem 3rem;
}

.about {
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #da790a;
  border-radius: 0.7rem;
}

.about .about-icon img {
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
}

.section-title-about {
  text-align: center;
  margin: 1rem 0 4rem;
  color: white
}

.about h4 {
  color: white;
  margin: 0.5rem o;
}
.about h1 {
  text-align: center;
  padding: 1.5rem;
}
.about p {
  color: white;
  padding: 1rem;
}

.about-icon {
  background-color: black;
  width: fit-content;
  margin: auto;
  padding: 0.2rem 0.2rem;
  border-radius: 0.5rem;
}

.text-about p{
  padding-bottom: 2rem;
}

.row-3 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

/* contact */
#contact {
  padding: 6rem;
}

.text-contact {
  padding: 1.5rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
  width: 50%;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: white;
  border: 1px solid rgb(73, 72, 72);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: black;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid gray;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: #da790a;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn-submit:hover {
  background-color: rgb(209, 207, 207);
  color: black;
}